{% extends "base.html" %}

{% block head %}
<h1 class="header-title" style="text-align: center; font-size: 24px;">EduMate Beta 0.1</h1>
{% endblock %}
{% block body %}
<div class="content">
    <h1 style="text-align: center; font-size: 24px;">Upload book/slide here</h1>
    <form id="uploadForm" method="POST" action="/" style="text-align: center;" enctype="multipart/form-data">
        <label for="myFile">Select a file:</label>
        <input type="file" id="myFile" name="file" accept="image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf">
        <input type="submit">
    </form>
    <div id="notification" style="display: none; text-align: center; color: green; margin-top: 10px;">
        File successfully uploaded!
    </div>
</div>

<div class="content">
    <h1 style="text-align: center; font-size: 24px;">Uploaded books/slides</h1>
    <div style="text-align: center;">
        {% for file in files %}
        <a href="{{ url_for('process_file', file_id=file.id) }}">{{ file.filename }}</a><br>
        {% endfor %}
    </div>

<script>
document.getElementById('uploadForm').addEventListener('submit', function(event) { // Prevent the default form submission

    var formData = new FormData(this);

    fetch('/', {
        method: 'POST',
        body: formData
    }).then(response => {
        if (response.ok) {
            document.getElementById('notification').style.display = 'block';
        } else {
            alert('File upload failed.');
        }
    }).catch(error => {
        alert('An error occurred: ' + error.message);
    });
});
</script>
{% endblock %}